<div class="container" style="padding-top:50px">
  <h1>Settings</h1>
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <form method="post" action="/user/create">
        {{#if error}}
          <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Oh snap!</strong> {{error.msg}}
          </div>
        {{/if}}
        {{#if signUpSuccessMsg}}
          <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{signUpSuccessMsg.msg}}</strong> You can go back to Slack now
          </div>
        {{/if}}
        <div class="form-group">
          <label for="slackUsername">Slack Username</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">@</div>
            <input type="text" class="form-control" name="slack[username]" aria-describedby="slackUsername" value="{{{slackUsername}}}">
          </div>
        </div>
        <div class="form-group">
          <label for="confluenceUsername">Confluence Username</label>
            <input type="text" class="form-control" name="confluence[username]" aria-describedby="confluenceUsernameHelp" value="{{{confluenceUsername}}}">
          <small id="confluenceUsernameHelp" class="form-text text-muted">Your Confluence username is not your email address</small>
        </div>
        <div class="form-group">
          <label for="confluencePassword">Confluence Password</label>
          <input type="password" class="form-control" name="confluence[password]" value="{{{confluencePassword}}}">
        </div>
        <div class="form-group">
          <label for="timeZone">TimeZone for 1:30pm Reminders</label><br>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="timeZone" id="ET" value="ET" {{#if timeZoneET}}checked{{/if}}>
              Eastern Time
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="timeZone" id="PT" value="PT" {{#if timeZonePT}}checked{{/if}}>
              Pacific Time
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="timeZone" id="CET" value="CET" {{#if timeZoneCET}}checked{{/if}}>
              Central European Time
            </label>
          </div>
        </div>
        <button class="btn btn-primary float-right">Save</button>
      </form>
    </div>
  </div>
</div>
